* {
  font-family: sans-serif;
}

/* body {
  width: 80%;
  margin: 0 auto
} */



nav ul li {
  font-size: 11px

}

footer ul li a {
  font-size: 11px;
  color: lightgray
}



p {
  font-size: 13px;
}