* {
  font-family: sans-serif;
}

/* body {
  width: 80%;
  margin: 0 auto
} */



nav ul li {
  font-size: 11px
}

footer ul li a.active,
footer ul li a:hover {
  background: lightblue;
}

ul li a {
  font-size: 11px;
  color: lightgray
}

.square-image {
  width: 150px;
  height: 250px;
  object-fit: cover;

}

p {
  font-size: 13px;
}

.bg-jumbo {

  background-image: url(../src/assets/img/jumbotron.jpg);
  min-height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;


}